<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Payment History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Payment History</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>January 2nd 2021 </ion-label> <ion-label> $101.10</ion-label> <a href="">Details</a>
  </ion-item>
  <ion-item>
    <ion-label>December 2nd 2020 </ion-label> <ion-label> $102.50</ion-label> <a href="">Details</a>
  </ion-item>
  <ion-item>
    <ion-label>November 3rd 2020 </ion-label> <ion-label> $105.50</ion-label> <a href="">Details</a>
  </ion-item>
  <ion-item>
    <ion-label>October 2nd 2020 </ion-label> <ion-label>$106.50</ion-label> <a href="">Details</a>
  </ion-item>
  <ion-item>
    <ion-label>September 3rd 2020 </ion-label> <ion-label> $104.50</ion-label> <a href="">Details</a>
  </ion-item>
  <ion-item>
    <ion-label>August 3rd 2020 </ion-label> <ion-label> $110.50</ion-label> <a href="">Details</a>
  </ion-item>
</ion-list>

</ion-content>
